{% extends "blog/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
 {%load staticfiles %}
 <div>
    <img src="{% static 'img/image3.jpg' %}" alt="" class="img-fluid rounded-circle d-none d-md-block about-img">
 </div>

 
  <style type="text/css">
    body{
        margin-top: 0px;
        padding-top: 2px;
        padding-left: 40px;
    
    }
.bgimage{
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),url("{% static '/img/zou12.jpg' %}");
    background-size: 100%;
    width: 100%;
    height: 100vh;
    padding-left: 0%;
}

.leftmenu{
  width: 0%;
  line-height: 100Px;
  float: left;
}
.leftmenu h4{
    padding-left: 70px;
    font-weight: bold;
    color: white;
    font-size: 22px;
    font-family: 'montserrat', sans-serif;
}
.rightmenu{
    width: 60%;
    height: 100Px;
    float: right;
}
.rightmenu ul{
    margin-left: 100px;
}
.rightmenu ul li{
    display: inline-block;
    font-family: 'montserrat', sans-serif ;
    list-style: none;
    font-size: 15px;
    color: white;
    font-weight: bold;
    line-height: 100px;
    margin-left: 4px;
    text-transform: uppercase;
    cursor: pointer;
  }
.rightmenu ul li:hover{
    color: #00ccff;
}
#firstlist{
   color: #00ccff; 
}
.text{
    width: 100%;
    margin-top:185px ;
    text-transform: uppercase;
    text-align: center;
    color: rgb(168, 154, 30);

}
.text h4{
    font-size: 20px;
    font-family: 'open sans', sans-serif;
    columns: red;
}
.text h1{
    font-size: 62px;
    font-family: 'montserrat', sans-serif ;
    font-weight: 700px;
    margin: 14px 0px;
    color: blue;
}
.text h3{
    font-size: 15px;
    font-family: 'open sans', sans-serif;
    color: blueviolet;
}
button{
    background-color: rgba(255,255,255, 0.164);
    color: white;
    font-family: 'montserrat', sans-serif ;
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 20px;
    width: 150px;
    margin-top: 20px;
    border: 3px solid white;
    cursor: pointer;
}
button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
#form {
  color: #900;
  font-weight: bold;
}

/* coding with nick */
  </style>
  <body>
    <div class="bgimage">
        <div class="text">
            <h4>ZOU MIDLANDS</h4>
            <h1> OPEN AND DISTANCE LEARNING </h1>
            <h3> The function of education is to teach one to think intensively and to think critically. Intelligence plus character - that is the goal of true education </h3>
            <form method="get" id="form" action="https://www.zou.ac.zw"><button type="submit" style="font: 1em sans-serif"; >Apply</button></form>
            <form method="get" id="form" action=""><button type="submit" style="font: 1em sans-serif"; >Contact Us</button></form>
        </div>

    </div>
    <!-- /* coding with nick */ -->
</body>

<div>
<h2>Study with ZOU to make your dream the reality.</h2>
</div>

<img src="{% static 'img/zou12.jpg' %}" alt="" class="img-fluid  d-md-block about-img">
<div>
    <h4>YOU DO NOT HAVE TO WAIT FOR YOUR A LEVEL RESULTS TO STUDY WITH US.</h4>
</div>
{% endblock content %}
